.grid-container,h1{
text-align: center;
}
body{
    background-color: rgb(0, 0, 0);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(218, 28, 28);
  padding: 10px;
}
.grid-container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
h1{
    color:white;
}